name: Spotless

on:
  push:
    branches:
      - main
      - master
      - develop
      - "release/**"
  pull_request:
    branches:
      - "**"

jobs:
  spotless:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Spotless check
        run: ./gradlew spotlessCheck
